---
import BaseHead from '@components/BaseHead.astro';
import '@styles/pagefind.css';
import '@styles/color-theme.css';
import { HeroSection2 } from '@components/examples/marketing/Hero2';
---

<!doctype html>
<html class="dark" lang="en" data-palette="winter" data-shade="glassy" data-rounded="large">
    <head>
        <BaseHead title="Landing Page example 3 | Tailus UI React" />
    </head>
    <body class="antialiased bg-white dark:[--body-text-color:theme(colors.gray.300)] dark:bg-gray-950 font-sans">
        <HeroSection2 client:load />
    </body>
</html>
