---
import BaseHead from '@components/BaseHead.astro';
import '@styles/pagefind.css';
import '@styles/color-theme.css';
import { CustomizerPill } from '@components/customizer/Pill';
import Button from '@react-ui/button/Button';
import { Display, Text, Title, Link } from '@components/typography';
import { Menu } from 'lucide-react';
import BrandLogo from '@components/utilities/BrandLogo';
import ThemeSwitcher from '@components/ThemeSwitcher';
---

<!doctype html>
<html lang="en" data-palette="tls" data-shade="900" data-rounded="large">
    <head>
        <BaseHead title="Landing Page example 2 | Tailus UI React" />
    </head>
    <body class="antialiased bg-white dark:[--body-text-color:theme(colors.gray.300)] dark:bg-gray-950 font-sans">
        <header class="fixed inset-x-0 lg:relative z-10 bg-white/50 dark:bg-gray-950/50 backdrop-blur-3xl">
            <div class="max-w-7xl mx-auto px-6 lg:flex lg:justify-between py-4">
                <div class="lg:flex lg:gap-8 lg:items-center">
                    <div class="flex items-center justify-between w-full lg:w-fit">
                        <a href="/" aria-label="Tailus UI Logo">
                            <BrandLogo className="lg:h-6" />
                        </a>
                        <div class="lg:hidden flex gap-2">
                            <Button.Root href="/examples/forms/login2" size="sm" intent="neutral">
                                <Button.Label>Login</Button.Label>
                            </Button.Root>

                            <ThemeSwitcher size="sm" client:media="(max-width:1024px)" />
                            <Button.Root intent="gray" size="sm" variant="ghost" aria-label="toggle menu button" className="-mr-3 lg:hidden">
                                <Button.Icon size="md" type="only">
                                    <Menu />
                                </Button.Icon>
                            </Button.Root>
                        </div>
                    </div>
                    <nav class="w-full hidden py-4 lg:py-0 lg:w-fit lg:flex flex-col gap-6 lg:flex-row">
                        <Link variant="plain" intent="gray" size="sm" href="/" children="Products" />
                        <Link variant="plain" intent="gray" size="sm" href="/" children="Solutions" />
                        <Link variant="plain" intent="gray" size="sm" href="/" children="Features" />
                        <Link variant="plain" intent="gray" size="sm" href="/" children="Developers" />
                        <Link variant="plain" intent="gray" size="sm" href="/examples/pricing" children="Pricing" />
                    </nav>
                </div>

                <div class="hidden lg:flex gap-2">
                    <Button.Root href="/examples/forms/login2" size="xs" intent="gray" variant="outlined">
                        <Button.Label>Login</Button.Label>
                    </Button.Root>

                    <ThemeSwitcher size="xs" client:media="(min-width:1024px)" />
                </div>
            </div>
        </header>
        <main>
            <section class="pt-32 pb-40">
                <div class="max-w-6xl mx-auto px-6">
                    <Display align="center" weight="semibold" className="text-4xl md:text-5xl lg:text-6xl">
                        Give life to your <br /> Crazy Ideas
                    </Display>
                    <Text className="max-w-2xl mx-auto mt-6 mb-8" size="lg" align="center">Know more about his tastes and lifestyle. During the working process, he is the only person who can feel whether a new suit fits or not.</Text>
                    <div class="flex gap-3 justify-center">
                        <Button.Root href="/examples/forms/register3">
                            <Button.Label>Get Started</Button.Label>
                        </Button.Root>
                        <Button.Root variant="outlined" intent="gray" href="/examples/forms/register1">
                            <Button.Label>Learn More</Button.Label>
                        </Button.Root>
                    </div>

                    <div class="max-w-3xl mx-auto mt-20">
                        <Title size="lg" align="center" as="div" weight="normal">Trusted by your favorite top 10 Tech companies</Title>
                        <Title as="h2" className="sr-only">Customers</Title>
                        <div class="mt-12 space-y-4 opacity-75">
                            <div class="mt-12 flex-wrap flex gap-6 sm:gap-x-12 md:gap-x-20 items-center justify-center grayscale brightness-0 dark:invert">
                                <img src="https://ampire.netlify.app/images/clients/lilly.png" alt="" class="w-auto h-10" />
                                <img src="https://ampire.netlify.app/images/clients/coty.svg" alt="" class="w-auto h-10" />
                                <img src="https://ampire.netlify.app/images/clients/ge.svg" alt="" class="w-auto h-9" />
                                <img src="https://ampire.netlify.app/images/clients/microsoft.svg" alt="" class="w-auto h-10" />
                                <img src="https://ampire.netlify.app/images/clients/airbnb.svg" alt="" class="w-auto h-10" />
                                <img src="https://ampire.netlify.app/images/clients/coty.svg" alt="" class="w-auto h-10 lg:hidden" />
                                <img src="https://ampire.netlify.app/images/clients/ge.svg" alt="" class="w-auto h-9 lg:hidden" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer></footer>
        </main>
    </body>
</html>
