<section class="py-32">
    <div class="mx-auto max-w-4xl px-4 lg:px-0">
        <h1 class="text-title mb-12 text-center text-3xl font-semibold md:text-4xl lg:text-5xl">Help us route your inquiry</h1>
        <div data-shade="950" class="relative grid divide-y border md:grid-cols-2 md:gap-4 md:divide-x md:divide-y-0">
            <div class="flex flex-col justify-between p-[--card-padding] sm:p-12">
                <div>
                    <h3 class="text-title mb-3">Collaborate</h3>
                    <a href="mailto:hello@tailus.io" class="link variant-animated intent-primary my-3 text-2xl">hello@tailus.io</a>
                    <p class="mt-3 text-sm">+243 000 000 000</p>
                </div>
            </div>
            <div class="flex flex-col justify-between space-y-8 p-[--card-padding] sm:p-12">
                <div>
                    <h3 class="text-title mb-3">Press</h3>
                    <a href="mailto:hello@tailus.io" class="link variant-animated intent-primary my-3 text-2xl">press@tailus.io</a>
                    <p class="mt-3 text-sm">+243 000 000 000</p>
                </div>
            </div>
        </div>
        <div class="h-3 invert [--stripes-color:theme(colors.white/0.15)] [background-image:linear-gradient(-45deg,var(--stripes-color)_25%,transparent_25%,transparent_50%,var(--stripes-color)_50%,var(--stripes-color)_75%,transparent_75%,transparent)] [background-size:5px_5px] dark:invert-0"></div>
        <div class="border px-4 py-12 lg:px-0 lg:py-24">
            <form action="" class="lg:card variant-mixed mx-auto max-w-lg sm:p-16">
                <div>
                    <h3 class="text-title text-xl font-semibold">Let's get you to the right place</h3>
                    <p class="mt-4 text-sm">Reach out to our sales team! We’re eager to learn more about how you plan to use our application.</p>
                </div>

                <div class="mt-12 space-y-6">
                    <div class="field">
                        <label for="name" class="text-title text-sm">Full name</label>
                        <input type="text" required name="name" id="name" class="input sz-md variant-mixed" />
                    </div>

                    <div class="field">
                        <label for="email" class="text-title text-sm">Work Email</label>
                        <input type="email" required name="email" id="email" class="input sz-md variant-mixed" />
                    </div>

                    <div class="field">
                        <label for="country" class="text-title text-sm">Country/Region</label>
                        <div class="relative">
                            <svg class="text-body pointer-events-none absolute inset-y-0 right-2.5 my-auto opacity-75" xmlns="http://www.w3.org/2000/svg" width="0.75rem" height="0.75rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path></svg>
                            <select id="country" name="country" class="input variant-mixed sz-md appearance-none">
                                <option value="1">DR Congo</option>
                                <option value="2">United States</option>
                                <option value="3">France</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label for="website" class="text-title text-sm">Company Website</label>
                        <input type="url" name="website" id="website" class="input sz-md variant-mixed" />
                        <span class="text-caption inline-block text-sm">Must start with 'https'</span>
                    </div>

                    <div class="field">
                        <label for="job" class="text-title text-sm">Job function</label>
                        <div class="relative">
                            <svg class="text-body pointer-events-none absolute inset-y-0 right-2.5 my-auto opacity-75" xmlns="http://www.w3.org/2000/svg" width="0.75rem" height="0.75rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path></svg>
                            <select id="job" name="job" class="input variant-mixed sz-md appearance-none">
                                <option value="1">Finance</option>
                                <option value="2">Education</option>
                                <option value="3">Legal</option>
                                <option value="4">More</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="text-title text-sm" for="msg">Message</label>
                        <textarea class="textarea variant-mixed sz-md rounded-card" id="msg" rows="3"> </textarea>
                    </div>

                    <button class="btn variant-primary sz-sm ml-auto w-fit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
