---
import BaseHead from "@components/BaseHead.astro";
import "@styles/pagefind.css";
import "@styles/color-theme.css";
import Button from "@react-ui/button/Button";
import { Text, Title, Link, Caption, List } from "@components/typography";
import { Menu } from "lucide-react";
import ThemeSwitcher from "@components/examples/ecommerce/ThemeSwitcher";
import { Search } from "@components/examples/ecommerce/Search";
import BrandIcon from "@components/utilities/BrandIcon";
import SeparatorRoot from "@react-ui/separator/Separator";
import BrandLogo from "@components/utilities/BrandLogo";
import { Rating } from "@components/Rating";
import { RatingComparison } from "@components/Rating";
import { SizeRadioGroup } from "@components/examples/ecommerce/SizeRadioGroup";
import { ProductCard } from "@components/examples/ecommerce/ProductCard";
import { SiteHeader } from "@components/examples/ecommerce/SiteHeader";
---

<!doctype html>
<html
  class="dark"
  lang="en"
  data-palette="tls"
  data-shade="900"
  data-rounded="medium"
>
  <head>
    <BaseHead title="Store Cart page example 1 | Tailus UI React" />
  </head>
  <body
    class="antialiased bg-white dark:[--body-text-color:theme(colors.gray.300)] dark:bg-gray-950 font-sans"
  >
    <SiteHeader client:load />

    <main>
      <section class="pt-24 sm:pt-32">
        <div class="max-w-7xl mx-auto px-6">
          <div class="grid lg:grid-cols-2 gap-12">
            <div
              class="overflow-x-auto snap-x snap-proximity gap-4 -mx-6 px-6 flex lg:grid lg:grid-cols-2 lg:gap-6 lg:overflow-visible"
            >
              <div
                class="snap-center w-max min-w-80 lg:min-w-full lg:w-fit lg:col-span-2 lg:max-w-full relative overflow-hidden rounded-[--card-radius]"
              >
                <img
                  class="border size-full object-cover group-hover:scale-105 duration-300 rounded-[--card-radius]"
                  src="/images/store/bonnet.jpg"
                  alt=""
                />
              </div>
              <div
                class="snap-center w-max min-w-80 lg:min-w-full lg:w-fit lg:max-w-full relative overflow-hidden rounded-[--card-radius]"
              >
                <img
                  class="border size-full object-cover group-hover:scale-105 duration-300 rounded-[--card-radius]"
                  src="/images/store/bonnet.jpg"
                  alt=""
                />
              </div>
              <div
                class="snap-center w-max min-w-80 lg:min-w-full lg:w-fit lg:max-w-full relative overflow-hidden rounded-[--card-radius]"
              >
                <img
                  class="border size-full object-cover group-hover:scale-105 duration-300 rounded-[--card-radius]"
                  src="/images/store/bonnet.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="lg:pt-12">
              <div class="max-w-sm mx-auto">
                <Title size="2xl" as="h2" className="mb-8">Summary</Title>
                <div class="space-y-1 divide-y *:py-3">
                  <div class="flex justify-between">
                    <Text as="div" className="my-0">Subtotal</Text>
                    <Text as="span" className="my-0">$78</Text>
                  </div>
                  <div class="flex justify-between">
                    <Text as="div" className="my-0">
                      Estimated Shipping & Handling
                    </Text>
                    <Text as="span" className="my-0">$78</Text>
                  </div>
                  <div class="flex justify-between">
                    <Text as="div" className="my-0">Estimated Tax</Text>
                    <Text as="span" className="my-0">-</Text>
                  </div>
                </div>

                <div class="my-8 space-y-3">
                  <Button.Root className="w-full" size="lg">
                    <Button.Label>Checkout</Button.Label>
                  </Button.Root>
                  <Button.Root
                    className="w-full"
                    size="lg"
                    variant="outlined"
                    intent="gray"
                  >
                    <Button.Label>PayPal</Button.Label>
                  </Button.Root>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-24 sm:pt-32 pb-40">
        <div class="max-w-7xl mx-auto px-6">
          <Title as="h2" size="2xl">You might also like</Title>
          <div
            class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-12"
          >
            <ProductCard
              name="LA T-Shirt"
              category="t-shirt"
              shortDescription="Some description goes here"
              price={19}
              image="/images/store/t-shirt1.jpg"
              link="/"
            />
            <ProductCard
              name="Nike custom T-Shirt"
              category="t-shirt"
              shortDescription="Some description goes here"
              price={26}
              oldPrice={39}
              image="/images/store/t-shirt2.jpg"
              link="/"
            />
            <ProductCard
              name="Clein Sports Bottle"
              category="flask"
              shortDescription="Some description goes here"
              price={22}
              image="/images/store/gourde1.jpg"
              link="/"
            />
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="relative max-w-7xl mx-auto px-6 pb-12 space-y-12">
        <div class="">
          <BrandLogo />
          <Text className="max-w-sm">React UI Kit for custom web UIs</Text>
        </div>
        <div class="md:w-3/5 lg:w-2/5 grid grid-cols-3 gap-6">
          <div>
            <Caption className="uppercase" size="xs">Categories</Caption>
            <div class="space-y-4 mt-8 *:block">
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Knit Cap"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Bottle"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Shoes"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="T-Shirt"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Longsleeve"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Cap"
              />
            </div>
          </div>
          <div>
            <Caption className="uppercase" size="xs">Categories</Caption>
            <div class="space-y-4 mt-8 *:block">
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Knit Cap"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Bottle"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Shoes"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="T-Shirt"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Longsleeve"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Cap"
              />
            </div>
          </div>
          <div>
            <Caption className="uppercase" size="xs">Categories</Caption>
            <div class="space-y-4 mt-8 *:block">
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Knit Cap"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Bottle"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Shoes"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="T-Shirt"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Longsleeve"
              />
              <Link
                variant="plain"
                intent="gray"
                size="sm"
                href="/"
                children="Cap"
              />
            </div>
          </div>
        </div>
        <SeparatorRoot />
        <Caption>&copy; Tailus UI 2056 | All right reserved</Caption>
      </div>
    </footer>
  </body>
</html>
