---
import BaseHead from '@components/BaseHead.astro';
import '@styles/pagefind.css';
import '@styles/color-theme.css';
import { ProductCard } from '@components/examples/ecommerce/ProductCard';
import { SiteHeader } from '@components/examples/ecommerce/SiteHeader';
import { Toaster } from 'sonner';
import { products } from '@components/examples/ecommerce/products';
import { SiteFooter } from '@components/examples/ecommerce/SiteFooter';
---

<!doctype html>
<html class="dark" lang="en" data-palette="tls" data-shade="900" data-rounded="medium">
    <head>
        <BaseHead title="Store Page example 1 | Tailus UI React" />
    </head>
    <body class="antialiased bg-white dark:[--body-text-color:theme(colors.gray.300)] dark:bg-gray-950 font-sans">
        <SiteHeader client:load />
        <Toaster client:idle position="bottom-left" className="z-[500]" />
        <main>
            <section class="pt-24 lg:pt-32 pb-40">
                <div class="max-w-7xl mx-auto px-6">
                    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-12">
                        {products.map(product => <ProductCard {...product} />)}
                    </div>
                </div>
            </section>
        </main>

        <SiteFooter />
    </body>
</html>
