---
import { getCollection } from 'astro:content'
import Layout from "@layouts/BaseLayout.astro";
import Container from '@components/Container.astro';
import { Display, Text } from '@components/typography';

const templates = (await getCollection('templates')).sort(
    (a,b)=>(a.data.priority > b.data.priority) ? 1 : ((b.data.priority > a.data.priority) ? -1 : 0)
);
---


<Layout title="Tailus UI - Modern Tailwindcss templates">
  <section class="pt-28 sm:pt-32 md:pt-40">
    <Container>
        <div class="max-w-lg">
            <Display weight="medium" size="4xl" className="sm:text-5xl">Build stunning websites faster</Display>
            <div class="max-w-lg">
                <Text>Create a unique website with our easy-to-customize templates.</Text>
            </div>
        </div>
        <div class="mt-20 grid md:grid-cols-2 gap-8">
            {
                templates.map((template) => {
                    return (
                        <a href={`/templates/${template.data.name}`} class="block group md:first:col-span-2">
                            <img class="rounded-[--card-radius] border shadow-sm shadow-gray-300/5" src={template.data.coverImageLink} alt={`tailus ${template.data.name} template screenshot`} width="3200" height="2400" />
                            <div class="relative block py-4">
                                <div class="flex justify-between">
                                    <Text weight="medium" neutral className="my-0 group-hover:text-primary-600 dark:group-hover:text-primary-400 capitalize">
                                        {template.data.name}    
                                    </Text>
                                    <Text className='my-0'>
                                        {   
                                            template.data.price
                                        }
                                    </Text>
                                </div>    
                            </div>
                        </a>
                    ) 
                })
            }
        </div>
    </Container>
  </section>
</Layout>
