---
import BaseHead from '@components/BaseHead.astro';
import '@styles/pagefind.css';
import '@styles/color-theme.css';
import { Register4 } from '@components/examples/forms/Register4';
---

<!doctype html>
<html class="dark" lang="en" data-palette="tls" data-shade="900" data-rounded="2xlarge">
    <head>
        <BaseHead title="Register Page 4 | Tailus UI React" />
    </head>
    <body class="antialiased bg-gray-100 dark:[--body-text-color:theme(colors.gray.300)] dark:bg-gray-950 font-sans">
        <Register4 />
    </body>
</html>
