---
import Layout from '@layouts/BaseLayout.astro';
import Container from '@components/Container.astro';
import { CustomizerPill } from '@components/customizer/Pill';
---

<Layout title="Tailus UI Html">
    <CustomizerPill client:load />
    <section class="pt-12 lg:pt-32 md:pt-20 space-y-12">
        <Container />
    </section>
</Layout>
