---
import Layout from '@layouts/BaseLayout.astro';
import Container from '@components/Container.astro';
import { CustomizerPill } from '@components/customizer/Pill';
---

<Layout title="Tailus UI Html">
    <CustomizerPill client:load />
    <section class="pt-12 lg:pt-32 md:pt-20 space-y-12">
        <Container>
            <div class="grid grid-cols-2 sm:grid-cols-4">
                <div class="space-y-2">
                    <button class="btn solid xl primary">Generate</button>
                    <button class="btn solid md secondary">Generate</button>
                    <button class="btn solid md accent">Generate</button>
                    <button class="btn solid md info">Generate</button>
                    <button class="btn solid md danger">Generate</button>
                    <button class="btn solid md success">Generate</button>
                    <button class="btn solid md warning">Generate</button>
                    <button class="btn solid md gray">Generate</button>
                    <button class="btn solid md neutral">Generate</button>
                </div>
                <div class="space-y-2">
                    <button class="btn outlined md primary">Generate</button>
                    <button class="btn outlined md secondary">Generate</button>
                    <button class="btn outlined md accent">Generate</button>
                    <button class="btn outlined md info">Generate</button>
                    <button class="btn outlined md danger">Generate</button>
                    <button class="btn outlined md success">Generate</button>
                    <button class="btn outlined md warning">Generate</button>
                    <button class="btn outlined md gray">Generate</button>
                    <button class="btn outlined md neutral">Generate</button>
                </div>
                <div class="space-y-2">
                    <button class="btn soft md primary">Generate</button>
                    <button class="btn soft md secondary">Generate</button>
                    <button class="btn soft md accent">Generate</button>
                    <button class="btn soft md info">Generate</button>
                    <button class="btn soft md danger">Generate</button>
                    <button class="btn soft md success">Generate</button>
                    <button class="btn soft md warning">Generate</button>
                    <button class="btn soft md gray">Generate</button>
                    <button class="btn soft md neutral">Generate</button>
                </div>
                <div class="space-y-2">
                    <button class="btn ghost md primary">Generate</button>
                    <button class="btn ghost md secondary">Generate</button>
                    <button class="btn ghost md accent">Generate</button>
                    <button class="btn ghost md info">Generate</button>
                    <button class="btn ghost md danger">Generate</button>
                    <button class="btn ghost md success">Generate</button>
                    <button class="btn ghost md warning">Generate</button>
                    <button class="btn ghost md gray">Generate</button>
                    <button class="btn ghost md neutral">Generate</button>
                </div>
            </div>

            <form action="" class="card outlined">
                <div class="field">
                    <label for="email" class="text-title">Your name</label>
                    <input id="email" name="email" required class="input outlined sm" placeholder="hello there" />
                    <span class="text-caption text-sm">Info here</span>
                </div>

                <a href="" class="link animated neutral">Tailus</a>
                <button type="submit" class="btn outlined xl primary">Generate</button>
            </form>
        </Container>
    </section>
</Layout>
