---
import Layout from '@layouts/BaseLayout.astro'
import Container from '@components/Container.astro'
import { BERNARD_AVATAR, MESCHAC_AVATAR } from 'src/const'
import SeparatorRoot from '@components/tailus-ui/Separator'
import BlockPreview from '@components/BlockPreview'
import { hero1Code } from '@components/blocks/hero-section/hero1'
import CodeComparason from '@components/CodeComparason'
import FeaturesBento from '@components/FeaturesBento'
---

<Layout title="Tailus UI Html">
    <div class="absolute inset-0 hidden h-16 bg-[repeating-linear-gradient(-45deg,var(--stripes-color),var(--stripes-color)_0.5px,theme(colors.transparent)_0.5px,theme(colors.transparent)_12px)] [--stripes-color:theme(colors.primary.300)] before:absolute before:inset-0 before:bg-gradient-to-t before:from-gray-50 before:via-transparent before:to-gray-50 dark:[--stripes-color:theme(colors.white/0.2)] dark:before:from-gray-950 dark:before:via-transparent dark:before:to-gray-950"></div>

    <section class="relative z-10 space-y-12 pt-20 will-change-transform sm:pt-28">
        <Container>
            <h1 class="text-title text-balance bg-gradient-to-b text-4xl font-bold sm:text-5xl lg:text-6xl">Next generation <br /> tailwind components</h1>
            <p class="mb-12 mt-6 text-xl md:max-w-lg lg:max-w-xl">A comprehensive suite of tailwindcss component classes for building visually stunning websites faster.</p>

            <div class="bg-ui-soft size-fit rounded-[calc(var(--btn-radius)+0.25rem)] border p-1">
                <a href="/get-started/installation" class="btn variant-neutral sz-md w-fit gap-2.5 bg-gray-950 !from-gray-900 to-gray-950 dark:!from-white">
                    <svg class="-mx-px size-3.5 opacity-75" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                    Get Started
                </a>
            </div>
        </Container>
    </section>

    <section class="relative border-b border-gray-200 [--ui-bg:theme(colors.white/0.75)] [--ui-border-color:theme(colors.gray.950/0.15)] dark:border-gray-800 dark:[--ui-bg:theme(colors.gray.900)] dark:[--ui-border-color:theme(colors.gray.800)]">
        <svg class="absolute inset-0 mx-auto w-full text-secondary-100 blur-3xl dark:hidden dark:text-white/5" viewBox="0 0 807 355" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M496.5 210C632.9 186.8 760.33 60.333 807 0C764.17 84 654.8 263.1 560 307.5C465.2 351.9 147.167 356.667 0 353.5C108.667 315.333 360.1 233.2 496.5 210Z" fill="currentColor"></path>
        </svg>
        <svg class="absolute inset-0 m-auto w-full text-primary-200 blur-3xl dark:hidden dark:text-primary-500/5" viewBox="0 0 807 355" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M496.5 210C632.9 186.8 760.33 60.333 807 0C764.17 84 654.8 263.1 560 307.5C465.2 351.9 147.167 356.667 0 353.5C108.667 315.333 360.1 233.2 496.5 210Z" fill="currentColor"></path>
        </svg>
        <Container>
            <div data-shade="900" class="relative -mt-12 sm:-mt-64 lg:-mx-4">
                <div class="relative grid grid-cols-3 divide-x divide-y divide-dashed border-r border-dashed *:relative *:flex *:h-32 *:items-center *:justify-center *:border-dashed sm:grid-cols-6 dark:bg-gray-950/25">
                    <div class="col-span-2 col-start-2 border-l border-t sm:col-span-1 sm:col-start-6">
                        <form class="flex gap-3">
                            <label class="field btn variant-outlined icon-only sz-sm before:!transition-none has-[:checked]:!bg-primary-600 has-[:checked]:!text-white has-[:checked]:[background-image:none] has-[:checked]:before:!border-white/15 has-[:checked]:before:!bg-primary-600" for="small">
                                <input type="radio" id="small" name="size" hidden />
                                <span class="relative">S</span>
                            </label>
                            <label class="field btn variant-outlined icon-only sz-sm before:!transition-none has-[:checked]:!bg-primary-600 has-[:checked]:!text-white has-[:checked]:[background-image:none] has-[:checked]:before:!border-white/15 has-[:checked]:before:!bg-primary-600" for="medium">
                                <input type="radio" id="medium" checked name="size" hidden />
                                <span class="relative">M</span>
                            </label>
                            <label class="field btn variant-outlined icon-only sz-sm before:!transition-none has-[:checked]:!bg-primary-600 has-[:checked]:!text-white has-[:checked]:[background-image:none] has-[:checked]:before:!border-white/15 has-[:checked]:before:!bg-primary-600" for="large">
                                <input type="radio" id="large" name="size" hidden />
                                <span class="relative">L</span>
                            </label>
                        </form>
                    </div>
                    <div class="sm:col-start-5">
                        <label for="r2" class="radio bg-ui group rounded-full">
                            <input class="peer" type="radio" id="r2" name="radio2" />
                            <span class="radio-indicator"> </span>
                        </label>
                    </div>
                    <div>
                        <button class="btn variant-primary sz-sm">Button</button>
                    </div>
                    <div class="col-start-3">
                        <label for="sw2" class="switch variant-primary">
                            <input checked class="peer" type="checkbox" id="sw2" name="switch2" />
                            <span class="switch-thumb"></span>
                        </label>
                    </div>
                    <div>
                        <div class="field">
                            <label for="c2" class="checkbox bg-ui group">
                                <input class="peer" type="checkbox" id="c2" name="checkbox1" />
                                <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                            </label>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <div class="field w-full max-w-56">
                            <input type="email" class="input variant-mixed sz-md !border !outline-primary-600" placeholder="Your email" />
                        </div>
                    </div>
                </div>
            </div>
        </Container>

        <div class="border-y border-dashed">
            <Container>
                <div class="relative grid divide-x divide-dashed border-x border-dashed sm:grid-cols-2 lg:-mx-4 lg:grid-cols-3 dark:-z-10">
                    <div class="p-3">
                        <div class="card bg-ui tls-shadow-md ml-auto flex h-full flex-col justify-between shadow-gray-950/[0.035] [--ui-border-color:theme(colors.gray.950/0.05)]">
                            <div class="mb-6 divide-y divide-dashed border-l [--ui-border-color:theme(colors.gray.950/0.15)] dark:[--ui-border-color:theme(colors.gray.800)]">
                                <div class="py-2">
                                    <div class="bg-ui flex h-8 w-2/3 items-center rounded-r-[--btn-radius] border border-l-0 pl-2 text-xs">Jan 2022</div>
                                </div>
                                <div class="py-2">
                                    <div class="flex h-8 w-4/5 items-center rounded-r-[--btn-radius] border border-l-0 border-white/5 bg-primary-600 bg-gradient-to-l from-white/15 to-transparent pl-2 text-xs text-white dark:bg-gray-800">Jun 2022</div>
                                </div>
                                <div class="py-2">
                                    <div class="bg-ui flex h-8 w-1/2 items-center rounded-r-[--btn-radius] border border-l-0 pl-2 text-xs">Aug 2022</div>
                                </div>
                            </div>
                            <div>
                                <h3 class="text-title text-sm font-medium">Realtime insights</h3>
                                <p class="mt-3 text-sm">Provident fugit vero voluptate. dolores voluptates inventore nisi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden p-3 sm:block">
                        <div class="card bg-ui tls-shadow-md h-full shadow-gray-950/[0.035] [--ui-border-color:theme(colors.gray.950/0.05)]">
                            <span class="text-caption text-xs">Great UX</span>
                            <h3 class="text-title mt-2 text-sm font-medium">Realtime insights</h3>
                            <p class="mt-3 text-sm">Provident fugit vero voluptate. dolores voluptates inventore nisi.</p>

                            <div class="card variant-outlined mt-12 space-y-3 p-4 [--ui-border-color:theme(colors.gray.950/0.15)] dark:[--ui-border-color:theme(colors.gray.800)]">
                                <div class="flex justify-between">
                                    <div class="text-title flex items-center gap-1.5">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M2 19v-6q0-.675.275-1.225T3 10.8V8q0-1.25.875-2.125T6 5h4q.575 0 1.075.213T12 5.8q.425-.375.925-.587T14 5h4q1.25 0 2.125.875T21 8v2.8q.45.425.725.975T22 13v6h-2v-2H4v2zm11-9h6V8q0-.425-.288-.712T18 7h-4q-.425 0-.712.288T13 8zm-8 0h6V8q0-.425-.288-.712T10 7H6q-.425 0-.712.288T5 8z"></path></svg>
                                        <div class="text-sm font-medium">Sleep</div>
                                    </div>
                                    <div class="text-caption text-xs">5:45 AM</div>
                                </div>
                                <div class="flex items-end justify-between">
                                    <div class="space-y-1">
                                        <div class="text-title text-sm font-medium">Time in Bed</div>
                                        <div class="flex gap-3">
                                            <div class="-space-x-0.5">
                                                <span class="text-title align-baseline text-xl font-medium">5</span>
                                                <span class="text-placeholder text-xs">hr</span>
                                            </div>
                                            <div class="-space-x-0.5">
                                                <span class="text-title align-baseline text-xl font-medium">59</span>
                                                <span class="text-placeholder text-xs">min</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-end gap-1">
                                        <div aria-hidden="true" class="h-3 w-1.5 rounded bg-gray-950/10 dark:bg-white/10"></div>
                                        <div aria-hidden="true" class="h-5 w-1.5 rounded bg-gray-950/10 dark:bg-white/10"></div>
                                        <div aria-hidden="true" class="h-10 w-1.5 rounded bg-gray-950/10 dark:bg-white/10"></div>
                                        <div aria-hidden="true" class="h-4 w-1.5 rounded bg-gray-950/10 dark:bg-white/10"></div>
                                        <div aria-hidden="true" class="h-6 w-1.5 rounded bg-gray-950/10 dark:bg-white/10"></div>
                                        <div aria-hidden="true" class="h-5 w-1.5 rounded bg-gray-950/10 dark:bg-white/10"></div>
                                        <div aria-hidden="true" class="h-9 w-1.5 rounded bg-gradient-to-b from-primary-300 to-primary-500"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden p-3 md:block">
                        <div class="card bg-ui tls-shadow-md ml-auto h-full shadow-gray-950/[0.035] [--ui-border-color:theme(colors.gray.950/0.05)]">
                            <div class="relative mb-6 mt-6 [--ui-bg:theme(colors.white)] [--ui-border-color:theme(colors.gray.950/0.15)] dark:[--ui-bg:theme(colors.gray.800)] dark:[--ui-border-color:theme(colors.gray.800)]">
                                <div class="card variant-mixed absolute inset-0 bottom-auto top-8 z-10 m-auto grid items-center gap-2 p-4 [grid-template-columns:auto_1fr] dark:!shadow-xl dark:shadow-gray-950/50">
                                    <div class="avatar sz-sm">
                                        <img src="https://avatars.githubusercontent.com/u/68236786?v=4" alt="" />
                                    </div>
                                    <div>
                                        <div class="text-caption text-xs">Théo Balick</div>
                                        <div class="text-sm">Closed 'tls-html' PR</div>
                                    </div>
                                </div>
                                <div class="card variant-outlined grid scale-90 items-center gap-2 p-4 opacity-50 [grid-template-columns:auto_1fr]">
                                    <div class="avatar sz-md">
                                        <img src="https://avatars.githubusercontent.com/u/47919550?v=4" alt="" />
                                    </div>
                                    <div>
                                        <div class="text-caption text-xs">Méschac Irung</div>
                                        <div class="text-sm">Closed 'tls-html' PR</div>
                                    </div>
                                </div>
                                <div class="card variant-outlined grid scale-90 items-center gap-2 p-4 opacity-50 [grid-template-columns:auto_1fr]">
                                    <div class="avatar sz-md">
                                        <img src="https://avatars.githubusercontent.com/u/31113941?v=4" alt="" />
                                    </div>
                                    <div>
                                        <div class="text-caption text-xs">Bernard Ng</div>
                                        <div class="text-sm">Opened 'tls-react' branch</div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-title text-sm font-medium">Realtime insights</h3>
                            <p class="mt-3 text-sm">Provident fugit vero voluptate. dolores voluptates inventore nisi.</p>
                        </div>
                    </div>
                </div>
            </Container>
        </div>
        <div class="relative overflow-hidden">
            <Container>
                <div class="grid divide-x divide-dashed border-x border-dashed sm:grid-cols-3 lg:-mx-4 lg:grid-cols-5">
                    <div class="hidden h-fit border-b border-dashed px-3 sm:block">
                        <div class="ml-auto flex h-12 w-fit items-center gap-4">
                            <div class="avatar sz-xs fallback-neutral">G</div>
                            <SeparatorRoot orientation="vertical" className="h-full" />
                            <div class="avatar sz-xs fallback-primary">N</div>
                            <SeparatorRoot orientation="vertical" className="h-full" />
                            <div class="avatar sz-xs z-10">
                                <img src={MESCHAC_AVATAR} alt="Méschac Irung" width="" height="" />
                            </div>
                        </div>
                    </div>
                    <div class="p-3 sm:col-span-2 lg:col-span-4">
                        <div class="card bg-ui tls-shadow-md w-full overflow-auto shadow-gray-950/[0.035] [--ui-border-color:theme(colors.gray.950/0.05)] lg:overflow-clip">
                            <div class="mb-6">
                                <h2 class="text-title font-medium">Customers</h2>
                                <p class="mt-1 text-sm">New users by First user primary channel group (Default Channel Group)</p>
                            </div>
                            <table class="-mb-4 w-max table-auto border-collapse [--ui-border-color:theme(colors.gray.950/0.05)] lg:w-full dark:[--ui-border-color:theme(colors.gray.700/0.25)] dark:[--ui-soft-bg:var(--ui-bg)]" data-rounded="medium">
                                <thead class="text-title sticky top-0 bg-gray-950/5 dark:bg-gray-925">
                                    <tr class="*:p-3 *:text-left *:text-sm *:font-medium">
                                        <th class="rounded-l-[--card-radius]">#</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Customer</th>
                                        <th class="rounded-r-[--card-radius]">Revenue</th>
                                    </tr>
                                </thead>
                                <tbody class="text-sm">
                                    <tr class="*:border-b *:p-3">
                                        <td>1</td>
                                        <td>10/31/2023</td>
                                        <td><span class="badge variant-success sz-xs">Paid</span></td>
                                        <td>
                                            <div class="text-title flex items-center gap-2">
                                                <div class="avatar sz-xxs">
                                                    <img src={BERNARD_AVATAR} alt="Bernard Ng" width="" height="" />
                                                </div>
                                                <span>Bernard Ng</span>
                                            </div>
                                        </td>
                                        <td>$43.99</td>
                                    </tr>
                                    <tr class="*:border-b *:p-3">
                                        <td>2</td>
                                        <td>10/21/2023</td>
                                        <td><span class="badge variant-danger sz-xs line-clamp-1">Ref</span></td>
                                        <td>
                                            <div class="text-title flex items-center gap-2">
                                                <div class="avatar sz-xxs">
                                                    <img src={MESCHAC_AVATAR} alt="Méschac Irung" width="" height="" />
                                                </div>
                                                <span>Méschac Irung</span>
                                            </div>
                                        </td>
                                        <td>$19.99</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </Container>
        </div>
    </section>
    <section class="relative bg-white pt-16 dark:bg-gray-950">
        <Container>
            <div class="grid gap-x-4 gap-y-6 px-3 sm:grid-cols-2 md:mx-0 md:grid-cols-3 lg:gap-x-12">
                <div>
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5"> <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path></svg>
                        <h3 class="text-title text-sm">Personalized Workouts</h3>
                    </div>
                    <p class="mt-4 text-sm">Get customized workout plans tailored to your fitness goals and preferences.</p>
                </div>
                <div>
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5"> <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3"></path></svg>
                        <h3 class="text-title text-sm">Nutrition Plans</h3>
                    </div>
                    <p class="mt-4 text-sm">Access meal plans and nutrition advice to complement your fitness routine.</p>
                </div>
                <div>
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5"> <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"></path></svg>
                        <h3 class="text-title text-sm">Progress Tracking</h3>
                    </div>
                    <p class="mt-4 text-sm">Monitor your fitness journey with detailed progress tracking and analytics.</p>
                </div>
            </div>
        </Container>
    </section>

    <section id="semantic" class="relative scroll-my-12 bg-white pt-24 md:pt-32 dark:bg-transparent">
        <Container>
            <div class="grid max-w-3xl space-y-8">
                <h2 class="text-title text-balance text-3xl font-semibold md:text-4xl lg:text-5xl">Less repetition, <br /> Faster Development</h2>
                <div class="mt-2 max-w-xl space-y-6">
                    <p class="sm:text-lg">Consectetur adipisicing elit. <span class="text-title font-medium"> Eum omnis repetition, Faster Development voluptatem accusantium nemo perspiciatis</span> delectus atque autem!</p>
                </div>
            </div>
        </Container>
        <div class="relative mt-12 pb-16 md:mt-16 md:pb-20">
            <div class="absolute inset-x-0 bottom-0 top-10 border-t bg-gradient-to-b from-gray-50 to-gray-100 shadow-inner shadow-gray-500/5 dark:from-gray-950 dark:to-gray-950"></div>
            <Container>
                <div class="lg:-mx-4">
                    <CodeComparason client:idle />
                </div>
            </Container>
        </div>
    </section>
    <section id="customization" class="scroll-my-12 bg-gray-100 pt-16 md:py-20 dark:bg-transparent">
        <Container>
            <div class="grid max-w-xl gap-4 md:px-4 lg:max-w-full lg:grid-cols-2 lg:px-0">
                <h2 class="text-title text-balance pr-12 text-3xl font-semibold md:text-4xl lg:text-5xl">Built with Customization In Mind</h2>
                <div class="mt-2 space-y-6">
                    <p class="sm:text-lg">Consectetur adipisicing elit. <span class="text-title font-medium"> Eum omnis voluptatem accusantium nemo perspiciatis</span> delectus atque autem! repellat expedita consequatur! atque doloremque!</p>
                    <a href="" class="btn variant-soft sz-sm w-fit">Learn More</a>
                </div>
            </div>
        </Container>

        <Container>
            <div class="relative mt-12 md:mt-16 lg:-mx-4">
                <FeaturesBento client:visible />
            </div>
        </Container>
    </section>
    <section id="blocks" class="relative bg-white pt-20 dark:bg-transparent">
        <Container>
            <div class="mb-12 grid gap-4 md:mb-16 md:max-w-xl md:px-4 lg:max-w-full lg:grid-cols-2 lg:px-0">
                <h2 class="text-title text-balance text-3xl font-semibold md:text-4xl lg:text-5xl">Build faster with modern UI Blocks</h2>
                <div class="mt-2 space-y-6">
                    <p class="sm:text-lg">Consectetur adipisicing elit. <span class="text-title font-medium"> Eum omnis voluptatem accusantium nemo perspiciatis</span> delectus atque autem! repellat expedita consequatur! atque doloremque!</p>
                    <a href="" class="btn variant-soft sz-sm w-fit">Browse Blocks</a>
                </div>
            </div>
        </Container>

        <BlockPreview forHome title="Hero1" src="https://oxymor-st.tailus.io/" code={hero1Code} client:visible />
    </section>
</Layout>
