---
import Layout from '@layouts/BaseLayout.astro';
import Container from '@components/Container.astro';
import { Display, Text, Title, Caption } from '@components/typography';
import Button from '@react-ui/button/Button';
---

<Layout title="Showcase | Tailus UI">
    <section class="pt-28 sm:pt-32 md:pt-40 space-y-12">
        <Container>
            <div class="max-w-lg">
                <Display weight={{ initial: 'medium' }} size="4xl" className="sm:text-5xl">Showcase</Display>
                <div class="max-w-lg">
                    <Text>Custom, Modern web user interfaces built with Tailus UI</Text>

                    <div class="flex gap-3 flex-wrap">
                        <Button.Root className="font-medium px-3" variant="solid" intent="neutral" size="sm" href="mailto:hello@tailus.io">
                            <Button.Label>Add Yours</Button.Label>
                        </Button.Root>
                    </div>
                </div>
            </div>
            <div class="mx-auto mt-20 space-y-6 sm:space-y-12 md:space-y-24 *:block">
                <a href="https://preview.tailus.io/ada" target="_blank">
                    <img class="aspect-[4/3] mb-3 border rounded-[--card-radius] shadow-md shadow-gray-950/5 dark:shadow-gray-950" src="/images/showcase/ada.webp" alt="Tailus UI Ada" loading="lazy" width="2400" height="1800" />
                    <Title as="h2" size="base" weight="medium">Ada</Title>
                    <Caption>Landing Page</Caption>
                </a>

                <a href="https://preview.tailus.io/atom" target="_blank">
                    <img class="aspect-[4/3] mb-3 border rounded-[--card-radius] shadow-md shadow-gray-950/5 dark:shadow-gray-950" src="/images/showcase/atom.webp" alt="Tailus UI Atom" loading="lazy" width="2400" height="1800" />
                    <Title as="h2" size="base" weight="medium">Atom</Title>
                    <Caption>Landing Page</Caption>
                </a>

                <a href="https://juro.life" target="_blank">
                    <img class="aspect-[4/3] mb-3 border outline-1 outline -outline-offset-[2px] outline-white dark:outline-gray-950 rounded-[--card-radius] shadow-md shadow-gray-950/5 dark:shadow-gray-950" src="/images/showcase/juro.webp" alt="Juro AI" loading="lazy" width="2400" height="1800" />
                    <Title as="h2" size="base" weight="medium">Juro</Title>
                    <Caption>AI</Caption>
                </a>

                <a href="/examples/application/card" target="_blank">
                    <img class="aspect-[4/3] mb-3 border rounded-[--card-radius] shadow shadow-gray-950/50 dark:shadow-gray-950" src="/images/showcase/card-layout-dark.webp" alt="Card based App layout" loading="lazy" width="2400" height="1800" />
                    <Title as="h2" size="base" weight="medium">Card Layout</Title>
                    <Caption>App Layout</Caption>
                </a>

                <a href="/examples/application/header" target="_blank">
                    <img class="aspect-[4/3] mb-3 border rounded-[--card-radius] shadow shadow-gray-950/50 dark:shadow-gray-950" src="/images/showcase/header.webp" alt="Header based app layout" loading="lazy" width="2400" height="1800" />
                    <Title as="h2" size="base" weight="medium">Header Layout</Title>
                    <Caption>App Layout</Caption>
                </a>

                <a href="/examples/application/sidebar" target="_blank">
                    <img class="aspect-[4/3] mb-3 border rounded-[--card-radius] shadow shadow-gray-950/50 dark:shadow-gray-950" src="/images/showcase/sidebar-layout.webp" alt="Sidebar based app layout" loading="lazy" width="2400" height="1800" />
                    <Title as="h2" size="base" weight="medium">Sidebar Layout</Title>
                    <Caption>App Layout</Caption>
                </a>
                <a href="/examples/application/double-sidebar" target="_blank">
                    <img class="aspect-[4/3] mb-3 border rounded-[--card-radius] shadow shadow-gray-950/50 dark:shadow-gray-950" src="/images/showcase/d-sidebar-layout.webp" alt="double sidebar based app layout" loading="lazy" width="2400" height="1800" />
                    <Title as="h2" size="base" weight="medium">Double Sidebar Layout</Title>
                    <Caption>App Layout</Caption>
                </a>
            </div>
        </Container>
    </section>
</Layout>
