---
import Button from '@react-ui/button/Button';
const currentPath = Astro.url.pathname;

const navlinks = [
    {
        name: 'React',
        href: 'https://ui.tailus.io'
    },
    {
        name: 'Html',
        href: '/'
    },
    {
        name: 'Themer',
        href: 'https://themer.tailus.io'
    },
    {
        name: 'Showcase',
        href: 'https://tailus.io/showcase'
    },
    {
        name: 'Templates',
        href: 'https://tailus.io/templates'
    }
];

const { asPill = false } = Astro.props;
---

<ul class="flex w-fit lg:items-center gap-6 lg:gap-3 lg:flex-row flex-col" class:list={asPill && 'lg:gap-0'} data-shade="900">
    {
        navlinks.map(link => (
            <li>
                <Button.Root data-rounded="full" variant={currentPath.includes(link.href) ? 'soft' : 'ghost'} intent="gray" size="xs" href={link.href} className="justify-start">
                    <Button.Label>{link.name}</Button.Label>
                </Button.Root>
            </li>
        ))
    }
</ul>
