---
import NavLinks from "./NavLinks.astro";
---

<nav
  class="fixed bg-white/50 fancy-border rounded-full top-4 mx-auto z-[51] inset-x-0 w-fit p-1.5 dark:bg-gray-600/50 backdrop-blur-xl shadow-md shadow-gray-500/5 dark:shadow-gray-950/25"
>
  <NavLinks asPill />
</nav>
