---
import { SITE_SOCIAL_GITHUB } from '../const'
import { GitHubIcon } from './utilities/icons/'
import ThemeSwitcher from './ThemeSwitcher'
import Button from '@tailus-ui/Button'
import NavLinks from './NavLinks.astro'
import BrandLogo from './utilities/BrandLogo'
---

<script>
    document.addEventListener('astro:page-load', () => {
        const navitems = document.querySelector('#mobile-navitems') as HTMLElement
        const hamburger = document.querySelector('#mobile-navitems-trigger')
        let isActive = navitems?.getAttribute('data-state') === 'open'

        function toggleItems() {
            isActive = !isActive
            navitems?.setAttribute('data-state', isActive ? 'open' : 'closed')
            hamburger?.setAttribute('data-state', isActive ? 'open' : 'closed')
        }

        hamburger?.addEventListener('click', toggleItems)
    })
</script>

<script>
    document.addEventListener('astro:page-load', () => {
        const menuList = document.getElementById('menu-list')
        const menuListTrigger = document.getElementById('menu-list-trigger')
        const tableOfContent = document.querySelector('#table-of-content')
        const tableOfContentTrigger = document.querySelector('#table-of-content-trigger')

        tableOfContentTrigger?.addEventListener('click', () => {
            tableOfContent?.classList.toggle('hidden')
            !menuList?.classList.contains('hidden') && menuList?.classList.toggle('hidden')
            tableOfContent?.classList.contains('hidden') ? document.body.classList.remove('overflow-hidden') : document.body.classList.add('overflow-hidden')
        })

        menuListTrigger?.addEventListener('click', () => {
            menuList?.classList.toggle('hidden')
            !tableOfContent?.classList.contains('hidden') && tableOfContent?.classList.toggle('hidden')
            menuList?.classList.contains('hidden') ? document.body.classList.remove('overflow-hidden') : document.body.classList.add('overflow-hidden')
        })
    })
</script>

<header data-rounded="full" class="sticky inset-x-0 top-16 z-40">
    <div class="mx-auto my-auto mt-4 flex h-fit w-full max-w-5xl items-center justify-between gap-4 rounded-2xl border border-white/50 bg-white/75 px-8 py-2 shadow shadow-gray-950/5 outline outline-1 outline-gray-950/5 backdrop-blur-xl sm:gap-6 lg:px-6 dark:border-white/10 dark:bg-gray-950/50 dark:outline-gray-950/50">
        <div class="flex items-center sm:gap-6">
            <a href="/" aria-label="Home page" class="rounded-full">
                <svg class="text-title h-3" viewBox="0 0 408 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.181641 94.0001V0.90918H17.0453V40.3183H60.1816V0.90918H77.0907V94.0001H60.1816V54.4546H17.0453V94.0001H0.181641Z" fill="currentColor"></path>
                    <path
                        d="M129.568 24.1819V36.9092H89.4316V24.1819H129.568ZM99.3407 7.45464H115.795V73.0001C115.795 75.2122 116.129 76.9092 116.795 78.091C117.492 79.2425 118.401 80.0304 119.523 80.4546C120.644 80.8789 121.886 81.091 123.25 81.091C124.28 81.091 125.22 81.0152 126.068 80.8637C126.947 80.7122 127.613 80.5758 128.068 80.4546L130.841 93.3183C129.962 93.6213 128.704 93.9546 127.068 94.3183C125.462 94.6819 123.492 94.894 121.159 94.9546C117.038 95.0758 113.326 94.4546 110.023 93.091C106.72 91.6971 104.098 89.5455 102.159 86.6365C100.25 83.7274 99.3104 80.091 99.3407 75.7274V7.45464Z"
                        fill="currentColor"></path>
                    <path
                        d="M143.329 94.0001V24.1819H159.057V36.0455H159.875C161.329 32.0455 163.738 28.9243 167.102 26.6819C170.466 24.4092 174.481 23.2728 179.148 23.2728C183.875 23.2728 187.86 24.4243 191.102 26.7274C194.375 29.0001 196.678 32.1061 198.011 36.0455H198.738C200.284 32.1668 202.89 29.0758 206.557 26.7728C210.254 24.4395 214.632 23.2728 219.693 23.2728C226.117 23.2728 231.36 25.3031 235.42 29.3637C239.481 33.4243 241.511 39.3486 241.511 47.1365V94.0001H225.011V49.6819C225.011 45.3486 223.86 42.1819 221.557 40.1819C219.254 38.1516 216.435 37.1365 213.102 37.1365C209.132 37.1365 206.026 38.3789 203.784 40.8637C201.572 43.3183 200.466 46.5152 200.466 50.4546V94.0001H184.329V49.0001C184.329 45.394 183.238 42.5152 181.057 40.3637C178.905 38.2122 176.087 37.1365 172.602 37.1365C170.238 37.1365 168.087 37.7425 166.148 38.9546C164.208 40.1365 162.663 41.8183 161.511 44.0001C160.36 46.1516 159.784 48.6668 159.784 51.5455V94.0001H143.329Z"
                        fill="currentColor"></path>
                    <path d="M274.659 0.90918V94.0001H258.204V0.90918H274.659Z" fill="currentColor"></path>
                    <path d="M325 84H408V94H325V84Z" fill="currentColor"></path>
                    <path
                        d="M368.898 1.18185H381.545V46.7955C381.545 51.7955 380.363 56.1932 378 59.9887C375.659 63.7841 372.363 66.75 368.113 68.8864C363.863 71 358.898 72.0569 353.216 72.0569C347.511 72.0569 342.534 71 338.284 68.8864C334.034 66.75 330.738 63.7841 328.398 59.9887C326.057 56.1932 324.886 51.7955 324.886 46.7955V1.18185H337.534V45.7387C337.534 48.6478 338.17 51.2387 339.443 53.5114C340.738 55.7841 342.557 57.5682 344.898 58.8637C347.238 60.1364 350.011 60.7728 353.216 60.7728C356.42 60.7728 359.193 60.1364 361.534 58.8637C363.898 57.5682 365.716 55.7841 366.988 53.5114C368.261 51.2387 368.898 48.6478 368.898 45.7387V1.18185Z"
                        fill="currentColor"></path>
                    <path d="M407.94 1.18185V71H395.292V1.18185H407.94Z" fill="currentColor"></path>
                </svg>
            </a>

            <div data-state="closed" id="mobile-navitems" class="absolute inset-x-0 bottom-0 top-[5.78rem] -z-50 h-0 overflow-hidden border-gray-950/10 bg-white px-5 shadow-lg shadow-gray-950/5 transition-[height] duration-300 data-[state=open]:h-dvh lg:hidden dark:border-white/10 dark:bg-gray-925/75 dark:backdrop-blur-xl">
                <div class="py-8">
                    <NavLinks />
                </div>
            </div>

            <nav class="hidden lg:block">
                <NavLinks />
            </nav>
        </div>

        <div class="flex items-center justify-between lg:gap-1.5">
            <div class="flex items-center gap-1.5">
                <ThemeSwitcher size="sm" client:load />
                <Button.Root variant="ghost" intent="gray" href={SITE_SOCIAL_GITHUB} aria-label="Visit our GitHub" size="sm" className="size-8 px-0">
                    <Button.Icon type="only" size="md">
                        <GitHubIcon className="size-4" />
                    </Button.Icon>
                </Button.Root>
                <Button.Root id="mobile-navitems-trigger" data-state="closed" variant="ghost" intent="gray" size="md" aria-label="Toggle navlinks" className="group relative -mr-2.5 flex size-8 flex-col transition duration-200 hover:bg-transparent lg:hidden dark:hover:bg-transparent">
                    <Button.Icon type="only">
                        <div class="absolute inset-0 m-auto transition-transform duration-300 group-data-[state=open]:-translate-x-px group-data-[state=open]:translate-y-0.5 group-data-[state=open]:rotate-45">
                            <div aria-hidden="true" class="absolute inset-x-0 top-0 mx-auto h-[1.5px] w-[1.125rem] translate-y-[13.5px] rounded bg-gray-950 transition-transform duration-200 group-data-[state=open]:translate-y-4 dark:bg-white"></div>
                            <div aria-hidden="true" class="absolute inset-x-0 top-0 mx-auto h-[1.5px] w-[1.125rem] translate-y-[21.5px] rounded bg-gray-950 transition-transform duration-200 group-data-[state=open]:translate-y-4 group-data-[state=open]:rotate-90 dark:bg-white"></div>
                        </div>
                    </Button.Icon>
                </Button.Root>
            </div>
        </div>
    </div>
</header>
