---
import Footer from '../components/Footer';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../const';
import { SiteHeader } from '../components/SiteHeader';
import { BlurDivs } from '@components/utilities/DocsProgressiveBlur';
import '@styles/color-theme.css';
import PageLoader from '@components/utilities/PageLoader.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
    title?: string;
    description?: string;
    image?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = '/og-cover.png' } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en" data-palette="tls" data-shade="900" data-rounded="large">
    <head>
        <BaseHead title={title} description={description} image={image} />
        <ViewTransitions />
    </head>
    <body class="bg-white dark:[--body-text-color:theme(colors.gray.300)] dark:bg-gray-950 antialiased font-sans">
        <PageLoader />
        <BlurDivs />
        <SiteHeader client:load />
        <main class="mb-32 will-change-auto">
            <slot />
        </main>
        <Footer />
    </body>
</html>
