---
import Footer from '../components/Footer'
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../const'
import { SiteHeader } from '../components/SiteHeader'
import { BlurDivs } from '@components/utilities/SiteProgressiveBlur'
import '@styles/color-theme.css'
import PageLoader from '@components/utilities/PageLoader.astro'
import { ViewTransitions } from 'astro:transitions'
import { CustomizerPill } from '@components/customizer/Pill'

interface Props {
    title?: string
    description?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<!doctype html>
<html class="dark" lang="en" data-palette="tls" data-shade="900" data-rounded="large">
    <head>
        <BaseHead title={title} description={description} />
        <ViewTransitions />
    </head>
    <body class="bg-white dark:[--body-text-color:theme(colors.gray.300)] dark:bg-gray-950 antialiased font-sans">
        <PageLoader />
        <BlurDivs client:visible />
        <CustomizerPill client:load />
        <SiteHeader client:load />
        <main class="mb-32 will-change-auto">
            <slot />
        </main>
        <Footer />
    </body>
</html>
